    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2>Amaç</h2>
                <p>Oldukça elit hackerları, diğer oldukça elit hackerlarla bir araya getirmek ve ortaya oldukça havalı işler çıkarmak. Tüm bunlarla Türkiye’deki seviyeyi yükseltmek.</p>

                <h2>Etkinlikler</h2>

                        <img src="/img/sunum2.jpg" alt="falan" style="width:50%; float:left; padding: 10px 10px 10px 10px;">
                        <img src="/img/sunum1.jpg" alt="falan" style="width:50%; float:left; padding: 10px 10px 10px 10px;">
                <p>Gayet düzensiz aralıklarla toplantılar (“meetup”) yapıyoruz. Birileri bir şeyler anlatıyor, diğerleri dinliyor falan. Önceki etkinliklere <a href="https://github.com/ttmo-O/sunumlar">buradan</a> erişebilirsiniz.</p>
                
                <h3>Sunum kabul</h3>
                <p>Şayet; tersyüz ettiğiniz ikili dosyalar, geliştirdiğiniz fiyakalı yöntemler, pek kimsenin bilmediği havalı bilgiler veya başka ilginç yeteneklere sahipseniz ve bunları hâlâ bizimle paylaşmıyorsanız çok ayıp ediyorsunuz.

                <p>Sunum yapmak isterseniz lütfen herhangi bir CFP döneminde bize e-posta yoluyla:</p>
                <ul>
                    <li>Anlatmak istediğiniz konu başlığını</li>
                    <li>Bir paragraf açıklamasını</li>
                </ul>   
                <p>yollayın.</p>
                    
                <p>Konunuz tersine mühendislikle bir şekilde alakalı olmalı (bkz: SSS - “tersine mühendislik derken”) ve odanın amacına uygun olmalıdır. “Acaba şöyle bir konu nasıl olur?” gibi sorularınızı çekinmeden sorabilirsiniz.</p>

                <h2>Yazılar</h2>
                <p>İnternetin derinliklerinde kaybolmadan önce üyelerimizin değerli yazılarını tweet’leyerek, yapılmış bu çalışmaları ulaşmak isteyen kişiler için derli toplu ve bir arada tutmaya çalışıyoruz. İlgi alanlarımız içerisine dahil yazılarınızı herhangi bir kanal ile bizlere ulaştırmanızdan memnun oluruz!</p>

                <section id="destek" class="content-section" style="margin-top: -70px;">
                        <h2>Destek</h2>
                        <p>TTMO gönüllü ve bağımsız bir topluluktur. Kaliteli içeriğin sürdürülmesine katkıda bulunmak isterseniz <a href="/destek">destek sayfasına buradan buyrun.</a></p>
                </section>
            </div>
        </div>
    </section>
