    <!-- About Section -->

    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                    <br>
                    <br>
                    <br>
                    <img src="/img/javier-lazo-library.jpg" style="width:100%;">
                    <br>
                    <em style="color: grey;">Resim: Javier Lazo</em>
                    <br>
                    <br>
                    <br>
                    <h2> TTMO Süreksiz Kaçak Yayınlar Kütüphanesi</h2>

                    <p style="color: grey;">
                    Bu kütüphane Türkiye'deki tersine mühendislerin ürettiği içerikleri bir arada tutmak için kurulmuştur. Okumalık bir şeyler arayanlar için, "başka kim benim alanımda çalışıyor" diyenler için, takım arkadaşı arayanlar için.
                    </p>
                    <p style="color: grey;">
                    Destek olmak için kendinizin veya başkalarının (kişi, grup, şirket) tersine mühendislikle ilgili yazıları bulunan bloglarını <a href="#ekle"> ekleyin </a>. Sıralama: Alfabetik, faaller üstte
                    </p>
                    <br>
                    <br>
                    <br>
                <hr> 
                    <br>
                    <br>
                    <br>

                    <ul>
                            <!-- <li> <a href="">  </a> - <em style="color: grey;">   </em> </li> -->
                             <li> <a href="https://0x90.psaux.io/">0x90.psaux.io</a> - <em style="color: grey;"> <img src=/img/icons/tux.ico> linux, <img src=/img/icons/fw.ico> firmware, <img src=/img/icons/en.ico> en </em> </li>
                             <li> <a href="https://ahmtglr.wordpress.com/">ahmtglr.wordpress.com</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/tr.ico> tr </em> </li>
                            <li> <a href="http://alienozi.c1.biz">alienozi.c1.biz</a> - <em style="color: grey;"> <img src=/img/icons/hw.ico> donanım/elektronik, <img src=/img/icons/en.ico> en </em> </li>
                            <li> <a href="https://alp.run/">alp.run</a> - <em style="color: grey;"> <img src=/img/icons/tux.ico> linux, <img src=/img/icons/pwn.ico> pwn, <img src=/img/icons/tr.ico> tr,  </em> </li>
                             <li> <a href="https://blacknbunny.github.io/">blacknbunny.github.io</a> - <em style="color: grey;"> <img src=/img/icons/tux.ico> linux, <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/kernel.ico> kernel, <img src=/img/icons/ctf.ico> ctf, <img src=/img/icons/tr.ico> tr  </em> </li>
                            <li> <a href="https://blog.can.ac/">blog.can.ac</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/pwn.ico> pwn, <img src=/img/icons/kernel.ico> kernel, <img src=/img/icons/en.ico> en </em> </li> 
                            <li> <a href="https://eybisi.run">eybisi.run</a> - <em style="color: grey;"> <img src=/img/icons/mobil.ico> mobil, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/hw.ico> donanım, <img src=/img/icons/ctf.ico> ctf </em> </li>
                            <li> <a href="https://erfur.github.io">erfur.github.io</a> - <em style="color: grey;"> <img src=/img/icons/tux.ico> linux, <img src=/img/icons/pwn.ico> pwn, <img src=/img/icons/fw.ico> firmware, <img src=/img/icons/ctf.ico> ctf </em> </li>
                             <li> <a href="https://huseyince.com/">huseyince.com</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/ctf.ico> ctf, <img src=/img/icons/tr.ico> tr  </em> </li>
                            <li> <a href="https://kaganisildak.com/">kaganisildak.com</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/ctf.ico> ctf, <img src=/img/icons/tr.ico> tr, <img src=/img/icons/en.ico> en </em> </li>
                            <li> <a href="https://manalysiz.com">manalysiz.com</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/kernel.ico> kernel, <img src=/img/icons/tr.ico> tr, <img src=/img/icons/en.ico> en </em> </li>
                            <li> <a href="http://rhotav.github.io/">rhotav.github.io/</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı </em> </li>
                            <li> <a href="https://robindimyan.blogspot.com/">robindimyan.blogspot.com</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/ctf.ico> ctf </em> </li>
                            <li> <a href="https://uhs.ist/">uhs.ist</a> - <em style="color: grey;"> <img src=/img/icons/fw.ico> firmware, <img src=/img/icons/hw.ico> donanım/elektronik, <img src=/img/icons/tr.ico> tr </em> </li>
                            --
                             <li> <a href="http://secops.blog/"> secops.blog </a> - <em style="color: grey;">  <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/pwn.ico> pwn, <img src=/img/icons/kernel.ico> kernel, <img src=/img/icons/tr.ico> tr, <img src=/img/icons/off.ico> gayrifaal </em> </li>
                            <li> <a href="https://ring0.info">ring0.info</a> - <em style="color: grey;"> <img src=/img/icons/win.ico> windows, <img src=/img/icons/mw.ico> zararlı, <img src=/img/icons/pwn.ico> pwn, <img src=/img/icons/kernel.ico> kernel, <img src=/img/icons/tr.ico> tr, <img src=/img/icons/off.ico> gayrifaal </em> </li>
                        
                    </ul>

                    <br>
                <hr> 

                    <br>
                    <br>
                    <br>
                <h3 id="ekle" > EKLE </h3>
                <form
                        action="https://formspree.io/mqkyqnzo"
                        method="POST"
                >
                        <label> Link:
                                <input name="link" type="text" style="color: black;" required/> 
                        </label>
                        <br>
                                Tür (En uygun olanlar. Birden fazla seçilebilir): <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/tux.ico> linux" /> <img src=/img/icons/tux.ico> linux
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/win.ico> windows" /> <img src=/img/icons/win.ico> windows
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/apple.ico> apple" /> <img src=/img/icons/apple.ico> apple 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/mobil.ico> mobil" /> <img src=/img/icons/mobil.ico> mobil 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/fw.ico> firmware" /> <img src=/img/icons/fw.ico> firmware 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/mw.ico> zararlı" /> <img src=/img/icons/mw.ico> zararlı (analiz/geliştirme) 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/pwn.ico> pwn" /> <img src=/img/icons/pwn.ico> pwn/binary exploitation 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/kernel.ico> kernel" /> <img src=/img/icons/kernel.ico> kernel 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/hw.ico> donanım/elektronik" /> <img src=/img/icons/hw.ico> donanım/elektronik 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/rf.ico> rf" /> <img src=/img/icons/rf.ico> rf 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/emu.ico> emülasyon" /> <img src=/img/icons/emu.ico> emülasyon 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/ctf.ico> ctf" /> <img src=/img/icons/ctf.ico> ctf 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/tr.ico> tr" /> <img src=/img/icons/tr.ico> tr 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/en.ico> en" /> <img src=/img/icons/en.ico> en 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/noob.ico> noob" /> <img src=/img/icons/noob.ico> noob 
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="checkbox" value="<img src=/img/icons/off.ico> gayrifaal" /> <img src=/img/icons/off.ico> gayrifaal (~2 senedir RE yazısı yok)
                        </label>
                        <br>
                        <label>
                                <input name="tur" type="text" placeholder="diğer"  style="color: black;"/> 
                        </label>
                        <br>

                        <button type="yolla" style="color: black;">Yolla</button>

                </form>

            <br>
            <br>
            <br>
            <p>
            Sitenize ait bilgilerde güncelleme yapmak yahut sitenizi silmek için e-posta ya da site reposuna pull-request atın.
            </p>


            </div>
        </div>
    </section>
