    <!-- SSS Section -->
    <section class="container content-section" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
                <h1> <a data-toggle="collapse" data-target="#sss">☞ S.S.S.</a></h1>
                <div id="sss" class="collapse">
                  <div id="accordion">
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Siz kimsiniz?</a> </h4>
                      <div id="collapse1" class="collapse">
                          Biri TODO
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Yeriniz nerede?</a> </h4>
                      <div id="collapse2" class="collapse">
                          Gönüllerde. TODO
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Üyelik?</a> </h4>
                      <div id="collapse3" class="collapse">
                          Üyelerimiz twitter takipçileri, telegram kanal üyeleri ve diğer bazı kişilerden oluşur.
                          Kendini üye hisseden herkes üye olmuştur. Üyelik iptali çoğu zaman yapılamamaktadır.
                          <br><br>
                      </div>
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">CFP?</a> </h4>
                      <div id="collapse4" class="collapse">
                          Sunum toplama çağrısını (call for papers/proposals) ara ara yapıyoruz. Genelde 1 ay civarı açık kalıyor.
                          Duyuruları takip etmek için twitter ya da telegram'da bize katılabilirsiniz.
                          <br><br>
                      </div>
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Tersine mühendslik derken? sadece x86 mı?</a> </h4>
                      <div id="collapse5" class="collapse">
                          Daha neler. TODO.
        Ters kod mühendisliği
        Binary exploitation
        Kernel exploitation
        ASDASD exploitation
        Hardware hacking
        Game hacking
        Zararlı analizi
        Zararlı üretimi
        Emülasyon
                          <br><br>
                      </div>
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Yazılarda neler aranıyor?</a> </h4>
                      <div id="collapse7" class="collapse">
                           TODO Seviyeyi yükseltme gayemiz gereği; bundan sonra twitter hesabımızda paylaştığımız yazılarda özgünlük, teknik kalite, "vay be, iyi yazı" 
                           dedirtecek şartlar arıyoruz; yani kaynak eser türündeki yazılar. Bu minvalde, CTF write-up'larının pek çoğu ve "&ltçok_genel_konu&gt'ya giriş" gibi 
                           yazılar dışarıda kalıyor.
                           <br><br>
                           Bu gibi yazılarınızı ise sormadan etmeden telegram grubumuzda paylaşarak diğer üyelerin faydalarına sunmanızı bekliyoruz.
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Tersine mühendisliğe yeni başladım şimdi ne yapayım?</a> </h4>
                      <div id="collapse6" class="collapse">
                          TODO
                          <br><br>
                      </div>

                      
                   </div>
                </div> 

            </div>
        </div>
    </section>
