    <!-- SSS Section -->
    <section class="container content-section" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
                <h1> <a data-toggle="collapse" data-target="#sss">☞ S.S.S.</a></h1>
                <div id="sss" class="collapse">
                  <div id="accordion">
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Siz kimsiniz?</a> </h4>
                      <div id="collapse1" class="collapse">
                          Birileri.
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Yeriniz nerede?</a> </h4>
                      <div id="collapse2" class="collapse">
                          Gönüllerde.
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Üyelik?</a> </h4>
                      <div id="collapse3" class="collapse">
                          Üyelerimiz twitter takipçileri, telegram kanal üyeleri ve diğer bazı kişilerden oluşur.
                          Kendini üye hisseden herkes üye olmuştur. Üyelik iptali çoğu zaman yapılamamaktadır.
                          <br><br>
                      </div>
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">CFP?</a> </h4>
                      <div id="collapse4" class="collapse">
                          Sunum toplama çağrısını (call for papers/proposals) ara ara yapıyoruz. Genelde 1 ay civarı açık kalıyor.
                          Duyuruları takip etmek için twitter ya da telegram'da bize katılabilirsiniz.
                          <br><br>
                      </div>
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Tersine mühendislik derken? Sadece x86 mı?</a> </h4>
                      <div id="collapse5" class="collapse">
                          Daha neler. Ters kod mühendisliği, binary exploitation, kernel exploitation, hardware hacking, game hacking, zararlı analizi, zararlı üretimi, emülasyon, fuzzing, SMT/SAT çözücüler... ARM, MIPS, RISC-V SPARC, AVR, 8051, 68000, &ltkendi_mimariniz&gt... İşletim sistemleri ve bare metal'ler... Kafanıza ne uyarsa.
                          <br><br>
                      </div>
                      
                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Yazılarda neler aranıyor?</a> </h4>
                      <div id="collapse7" class="collapse">
                           Seviyeyi yükseltme gayemiz gereği; bundan sonra twitter hesabımızda paylaştığımız yazılarda özgünlük, teknik kalite, "vay be, iyi yazı" 
                           dedirtecek şartlar arıyoruz; yani kaynak eser türündeki yazılar. Bu minvalde, CTF write-up'larının pek çoğu ve "&ltçok_genel_konu&gt'ya giriş" gibi 
                           yazılar dışarıda kalıyor.
                           <br><br>
                           Bu gibi yazılarınızı ise sormadan etmeden telegram grubumuzda paylaşarak diğer üyelerin faydalarına sunmanızı bekliyoruz.
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Logo mogo tasarımlar?</a> </h4>
                      <div id="collapse8" class="collapse">
                          Logo svg formatında bu siteye ait github reposunda mevcut, kullanabilirsiniz. Site kapak resmi ve afişlerde kullanılan
                          eserler (sırasız olarak) freepik/freepik ve freepik/starline tarafından tasarlanmıştır.
                          <br><br>
                      </div>

                      <h4> <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Tersine mühendisliğe yeni başladım şimdi ne yapayım?</a> </h4>
                      <div id="collapse6" class="collapse">
                          TODO
                          <br><br>
                      </div>

                      
                   </div>
                </div> 

            </div>
        </div>
    </section>
