    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
                <h2 data-toggle="collapse" data-target="#sss"><a>S.S.S.</a></h2>
                <div id="sss" class="collapse">
                  <div id="accordion">
                        <h4>  
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                        </h4>
                      <div id="collapse1" class="collapse">
                        <div >Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </div>
                           <h4>  
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 1</a>
                        </h4>
                      <div id="collapse2" class="collapse">
                        <div >Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </div>
                            <h4>  
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 1</a>
                        </h4>
                      <div id="collapse3" class="collapse">
                        <div >Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </div>
                    </div>
                  </div> 

            </div>
        </div>
    </section>
